.header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: rgb(27, 17, 175);
    background-color: rgb(164, 30, 190);
    padding: 20px;
    border: solid rgb(82, 230, 45) 2px;
}